@{
    ViewData["Title"] = "Home Page";
}

<form name="form" action="/UplaodMultiple" enctype="multipart/form-data" method="post">
    <input id="files" name="files" type="file" multiple onchange="fileupload('files');" />

</form>

<script src="~/js/myjsfile.js"></script>